.fitness-ranking-container{
    margin: 30px auto;
}
.p_style{
    text-align: left;
}

.details_style{
    color: white;
    border: #7C878B solid 1px;
    background-color:#7C878B;
    display: inline-block;
    width: 90px;
    height:40px;
}

.fi-tier-list-container {
    position: relative;
    margin: 10px auto;
    width: 800px;
    border-radius: 10px;
    background-color: #7C878B;
}