.login-tool{
    margin: 200px;
    padding: 100px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 250px;
    margin-left: 720px;
    background-color: #7C878B;
}

.login-text{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 40px;

}

.login-container{
    margin-top: 50px;
}