.table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table1 td, .table1 th {
    border: 1px solid #e4d2d2;
    padding: 8px;
}

.table1 tr.header {background-color: #7C878B;}    

  
.table1 tr.list:hover {background-color: #646f74;}
  
.table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #ffffff;
}