.siteTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.siteTable td, .siteTable th {
    border: 1px solid #e4d2d2;
    padding: 8px;
}

.siteTable tr.header {background-color: #7C878B;}
  
.siteTable tr.list:hover {
    background-color: #646f74;
    cursor: pointer;
}
  
.siteTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #ffffff;
}