.banner {
    padding-top: 10px;
    margin: 0 auto;
    width: 200px;
}

.bodybuilding-icon {
    max-width: 100%;
    max-height: 100%;
    border: 0;
    vertical-align: middle;
}

.search-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.search {
    border-radius: 30px;
    height: 60px;
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: #5CA2B8;
}

.label {
    color: black;
    padding-right: 50px;
    text-align: center;
    margin-top: 20px;
}

.search-bar {
    border: none;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    background-color: white;
}

.button {
    border: none;
    background-color: #5CA2B8;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}