.user-ranking-container {
    margin: 30px auto;
}

.category-button-container {
    margin: 10px;
}

.category-button {
    margin: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    border: 3px solid #333;
    font-size: 30px;
    
}

.category-button.unselected:hover {
    background-color: lightgray;
    cursor: pointer;
}

.category-button.selected {
    background-color: gray;
}

.tier-list-container {
    position: relative;
    margin: 10px auto;
    width: 800px;
    border-radius: 10px;
    background-color: #7C878B; 
}

.subcategory-button-container {
    display: inline-block;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #7C878B;
    width: 760px;
    height: 100px;
}

.subcategory-button {
    margin-top: 80px;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    font-size: 11px;
}

.subcategory-button.unselected:hover {
    background-color: lightgray;
    cursor: pointer;
}

.subcategory-button.selected {
    background-color: gray;
}
.tier-font{
    font-size: 30px;
}