.user-ranking-container {
    margin: 30px auto;
}

.category-button-container {
    margin: 10px;
}

.category-button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.category-button:hover {
    background-color: gray;
    cursor: pointer;
}

.tier-list-container {
    position: relative;
    margin: 10px auto;
    width: 800px;
    border-radius: 10px;
    background-color: #9ECBDA;
}

.subcategory-button-container {
    display: inline-block;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #5CA2B8;
    width: 760px;
    height: 100px;
}

.subcategory-button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

.subcategory-button:hover {
    background-color: gray;
    cursor: pointer;
}

