.left{
    width: 30%;
    display: inline-block;
}

.left_high{
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.left_middle{
    border: 2px solid black;
    margin: 10px;
    font-size: 13px;
    width: 250px;
    margin-left: 25px;  
    text-align: left;
}

.left_low{
    font-size: 10px;
}


.right{
    width: 70%;
    margin-top: 50px;
    vertical-align: top;
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.right Table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.left_low Table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.right_button{
    display: flex;
    flex-direction: row;
    margin-left : 50px;
}

.left_low_button{
}

.right button{
    color: white;
    border: #3f4142 solid 1px;
    background-color:#7C878B;
    width: 70px;
    height:30px;
    font-size: 13px;
    border-radius: 15px;
    margin: 10px;
}

.left_low button{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    border: #7C878B solid 2px;
    background-color:#7C878B;
    width: 60px;
    height:30px;
    font-size: 10px;
    border-radius: 10px;
    margin: 15px;
}