.table2  {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table2 td, .table2 th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table2 tr.header {background-color: #1881a7;}

  
.table2 tr.list:hover {background-color: #ddd;}
  
.table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}