.infoTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.infoTable td, .infoTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.infoTable tr.header {background-color: #7C878B;}

.infoTable tr.list:nth-child(even){background-color: #f2f2f2;}
  
.infoTable tr.list:hover {background-color: #ddd;}
  
.infoTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}