.health-logo{
    margin-top: 20px;
    font-size: 20px;
}
.muscleleft{
    margin-top: 15px;
    width: 30px;
    height:30px;
    transform: rotate(10deg);
}
.muscleright{
    margin-top: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-10deg);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
}
  
.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.logo {
    text-decoration: none;
    color: #000;
    display: flex;
}

.login-button {
    margin-right: 100px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color:rgb(0,0,0,0.25);
}

.mypage {
    margin-left: -67px;
    margin-right: 10px;
}

.logout-button {
    margin-right: 100px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color:rgb(0,0,0,0.25);
}

.login-button:hover {
    background-color: gray;
}

.log-in-out{
    width:100px;
}