.navbar-container {
    height: 40px;
    width: 97vw;
    min-width: 970px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    line-height: 40px;  
    vertical-align: middle;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);  
}
.navbar {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Black Han Sans', sans-serif;
}
.navbarline{
    font-size: 20px;
}
.navbarMenu {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    width: 250px;
}

.navbarMenu.selected {
    background-color: gray;
    color: white;
}

.navbarMenu.unselected:hover {
    background-color: lightgray;
}